<h1>Your Profile</h1>
<p>Name: <%= @current_user.name %></p>
<p>Email: <%= @current_user.email %></p>
<p>User ID: <%= @current_user.id %></p>

<h2>Your Sweepstakes</h2>
<ul>
  <% Sweepstake.where(user_id: @current_user.id).each do |sweepstake| %>
    <li>
      <%= link_to "#{sweepstake.name} - #{sweepstake.description}", sweepstake_path(sweepstake) %>
    </li>
  <% end %>
</ul>
